.selected
{
    background: yellow;
}

.block {
    display: inline-block;
    vertical-align: top;
}

h4 {
    text-align: left;
}

.taskEdit {
    display :inline-block;
    border: 4px double black;
    padding: 10px;
}

.userEdit {
    display :inline-block;
    border: 4px double black;
    padding: 10px;
}

.hidden {
    display: none;
}

.Main {
    position: relative;
}
.form {
    padding: 0px 50px;
    width: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
    top : 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.editForm {
    width: 321px;
    display: block;
    position: relative;
}
.Task, .Olympiad, .Student, .Join, .taskForm, .Solution, .Queue{
    padding: 0px 50px;
    width: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
    top : 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.verified {
    padding: 0px 50px;
    width: 50%;
    margin: 0;
    position: relative;
    left: 50%;
    top : 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.verify-form-button {
    width: 30%;
    padding: 0px 50px;
    margin: 0;
    position: relative;
    left: 50%;
    top : 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.register-form-button {
    width: 100%;
}

.table {
    border: #e3e7e8 1px;
    width: 70%;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.filter {
    display: -webkit-box;
}
